@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="d-flex justify-content-center align-items-center vh-100">
<div class="card shadow-lg" style="max-width: 600px; width: 100%; background-image: url('/fondo2.jpg'); background-size: cover; background-position: center; height: auto;">
        <div class="card-body">
            <h1 class="card-title mb-4">@ViewData["Title"]</h1>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label text-black">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label text-black">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMeCheck" />
                    <label asp-for="Input.RememberMe" class="form-check-label" for="rememberMeCheck">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-outline-warning btn-lg">Log in</button>
                </div>
                <div class="mt-3">
                    <p>
                        <a id="forgot-password" class="text-white" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" class="text-white" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" class="text-white" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
            <hr class="my-4" />
            <section>
                <h5 class="text-center">Use another service to log in.</h5>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div class="alert alert-info text-center mt-3">
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal mt-3">
                            <div class="d-grid gap-2">
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-secondary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
